@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark {
    @media (prefers-color-scheme: dark) {
        &:is(.system *) {
            @slot;
        }
    }
    &:is(.dark *) {
        @slot;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);

    --dark-background: oklch(0.129 0.042 264.695);
    --dark-foreground: oklch(0.984 0.003 247.858);
    --dark-card: oklch(0.208 0.042 265.755);
    --dark-card-foreground: oklch(0.984 0.003 247.858);
    --dark-popover: oklch(0.208 0.042 265.755);
    --dark-popover-foreground: oklch(0.984 0.003 247.858);
    --dark-primary: oklch(0.929 0.013 255.508);
    --dark-primary-foreground: oklch(0.208 0.042 265.755);
    --dark-secondary: oklch(0.279 0.041 260.031);
    --dark-secondary-foreground: oklch(0.984 0.003 247.858);
    --dark-muted: oklch(0.279 0.041 260.031);
    --dark-muted-foreground: oklch(0.704 0.04 256.788);
    --dark-accent: oklch(0.279 0.041 260.031);
    --dark-accent-foreground: oklch(0.984 0.003 247.858);
    --dark-destructive: oklch(0.704 0.191 22.216);
    --dark-border: oklch(1 0 0 / 10%);
    --dark-input: oklch(1 0 0 / 15%);
    --dark-ring: oklch(0.551 0.027 264.364);
    --dark-chart-1: oklch(0.488 0.243 264.376);
    --dark-chart-2: oklch(0.696 0.17 162.48);
    --dark-chart-3: oklch(0.769 0.188 70.08);
    --dark-chart-4: oklch(0.627 0.265 303.9);
    --dark-chart-5: oklch(0.645 0.246 16.439);
    --dark-sidebar: oklch(0.208 0.042 265.755);
    --dark-sidebar-foreground: oklch(0.984 0.003 247.858);
    --dark-sidebar-primary: oklch(0.488 0.243 264.376);
    --dark-sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --dark-sidebar-accent: oklch(0.279 0.041 260.031);
    --dark-sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --dark-sidebar-border: oklch(1 0 0 / 10%);
    --dark-sidebar-ring: oklch(0.551 0.027 264.364);
}

.dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --card: var(--dark-card);
    --card-foreground: var(--dark-card-foreground);
    --popover: var(--dark-popover);
    --popover-foreground: var(--dark-popover-foreground);
    --primary: var(--dark-primary);
    --primary-foreground: var(--dark-primary-foreground);
    --secondary: var(--dark-secondary);
    --secondary-foreground: var(--dark-secondary-foreground);
    --muted: var(--dark-muted);
    --muted-foreground: var(--dark-muted-foreground);
    --accent: var(--dark-accent);
    --accent-foreground: var(--dark-accent-foreground);
    --destructive: var(--dark-destructive);
    --border: var(--dark-border);
    --input: var(--dark-input);
    --ring: var(--dark-ring);
    --chart-1: var(--dark-chart-1);
    --chart-2: var(--dark-chart-2);
    --chart-3: var(--dark-chart-3);
    --chart-4: var(--dark-chart-4);
    --chart-5: var(--dark-chart-5);
    --sidebar: var(--dark-sidebar);
    --sidebar-foreground: var(--dark-sidebar-foreground);
    --sidebar-primary: var(--dark-sidebar-primary);
    --sidebar-primary-foreground: var(--dark-sidebar-primary-foreground);
    --sidebar-accent: var(--dark-sidebar-accent);
    --sidebar-accent-foreground: var(--dark-sidebar-accent-foreground);
    --sidebar-border: var(--dark-sidebar-border);
    --sidebar-ring: var(--dark-sidebar-ring);
}

@media (prefers-color-scheme: dark) {
    .system {
        --background: var(--dark-background);
        --foreground: var(--dark-foreground);
        --card: var(--dark-card);
        --card-foreground: var(--dark-card-foreground);
        --popover: var(--dark-popover);
        --popover-foreground: var(--dark-popover-foreground);
        --primary: var(--dark-primary);
        --primary-foreground: var(--dark-primary-foreground);
        --secondary: var(--dark-secondary);
        --secondary-foreground: var(--dark-secondary-foreground);
        --muted: var(--dark-muted);
        --muted-foreground: var(--dark-muted-foreground);
        --accent: var(--dark-accent);
        --accent-foreground: var(--dark-accent-foreground);
        --destructive: var(--dark-destructive);
        --border: var(--dark-border);
        --input: var(--dark-input);
        --ring: var(--dark-ring);
        --chart-1: var(--dark-chart-1);
        --chart-2: var(--dark-chart-2);
        --chart-3: var(--dark-chart-3);
        --chart-4: var(--dark-chart-4);
        --chart-5: var(--dark-chart-5);
        --sidebar: var(--dark-sidebar);
        --sidebar-foreground: var(--dark-sidebar-foreground);
        --sidebar-primary: var(--dark-sidebar-primary);
        --sidebar-primary-foreground: var(--dark-sidebar-primary-foreground);
        --sidebar-accent: var(--dark-sidebar-accent);
        --sidebar-accent-foreground: var(--dark-sidebar-accent-foreground);
        --sidebar-border: var(--dark-sidebar-border);
        --sidebar-ring: var(--dark-sidebar-ring);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    html,
    body,
    #app {
        @apply min-h-screen h-auto;
    }
    #app {
        @apply flex flex-col;
    }
    body {
        font-family:
            "Wanted Sans Variable",
            "Wanted Sans",
            -apple-system,
            BlinkMacSystemFont,
            system-ui,
            "Segoe UI",
            "Apple SD Gothic Neo",
            "Noto Sans KR",
            "Malgun Gothic",
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            sans-serif;
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .remark-code-meta-wrapper {
        background-color: var(--tw-prose-pre-bg);
        color: var(--tw-prose-pre-code);
        --tw-prose-border-radius: 0.375rem;
        border-radius: var(--tw-prose-border-radius);

        > pre {
            margin-top: 0;
            padding-top: 0;
        }

        --tw-prose-pre-padding-inline: 1.1428571em;
        --tw-prose-pre-padding-y: 0.8571429em;

        .remark-code-meta-block {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding-inline-start: var(--tw-prose-pre-padding-inline);
            padding-inline-end: var(--tw-prose-pre-padding-inline);
            padding-top: var(--tw-prose-pre-padding-y);
            padding-bottom: calc(var(--tw-prose-pre-padding-y) / 2);
        }

        .remark-code-meta__filename,
        .remark-code-meta__lang {
            background-color: var(--background);
            color: var(--foreground);
            border-radius: var(--tw-prose-border-radius);

            padding-top: calc(var(--tw-prose-pre-padding-y) / 8);
            padding-bottom: calc(var(--tw-prose-pre-padding-y) / 8);
            padding-left: calc(var(--tw-prose-pre-padding-inline) / 2);
            padding-right: calc(var(--tw-prose-pre-padding-inline) / 2);
        }
    }

    .remark-callout-header {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;

        --font-size: 1.125rem;
        font-size: var(--font-size);
        @apply font-bold;

        > svg:first-child {
            width: var(--font-size);
            height: var(--font-size);
        }
    }

    .remark-callout {
        --callout-border-opacity: 0.25;
        --callout-background-opacity: 0.1;
        --callout-border-radius: 0.375rem;

        --callout-info: 8, 109, 221;
        --callout-summary: 0, 191, 188;
        --callout-success: 8, 185, 78;
        --callout-warning: 236, 117, 0;
        --callout-failure: 233, 49, 71;
        --callout-example: 120, 82, 238;
        --callout-quote: 158, 158, 158;

        border-left: 0;

        padding: 1.5rem;
        border-radius: var(--callout-border-radius);

        background-color: rgba(
            var(--callout-color),
            var(--callout-background-opacity)
        );
        color: rgb(var(--callout-color));

        & > p {
            margin-bottom: 0;
            margin-top: 1em;
        }
    }

    .remark-callout__note {
        --callout-color: var(--callout-info);
    }
    .remark-callout__info {
        --callout-color: var(--callout-info);
    }
    .remark-callout__todo {
        --callout-color: var(--callout-info);
    }

    .remark-callout__abstract {
        --callout-color: var(--callout-summary);
    }
    .remark-callout__summary {
        --callout-color: var(--callout-summary);
    }
    .remark-callout__tldr {
        --callout-color: var(--callout-summary);
    }
    .remark-callout__tip {
        --callout-color: var(--callout-summary);
    }
    .remark-callout__hint {
        --callout-color: var(--callout-summary);
    }
    .remark-callout__important {
        --callout-color: var(--callout-summary);
    }

    .remark-callout__success {
        --callout-color: var(--callout-success);
    }
    .remark-callout__check {
        --callout-color: var(--callout-success);
    }
    .remark-callout__done {
        --callout-color: var(--callout-success);
    }

    .remark-callout__question {
        --callout-color: var(--callout-warning);
    }
    .remark-callout__help {
        --callout-color: var(--callout-warning);
    }
    .remark-callout__faq {
        --callout-color: var(--callout-warning);
    }
    .remark-callout__warning {
        --callout-color: var(--callout-warning);
    }
    .remark-callout__caution {
        --callout-color: var(--callout-warning);
    }
    .remark-callout__attention {
        --callout-color: var(--callout-warning);
    }

    .remark-callout__failure {
        --callout-color: var(--callout-failure);
    }
    .remark-callout__fail {
        --callout-color: var(--callout-failure);
    }
    .remark-callout__missing {
        --callout-color: var(--callout-failure);
    }
    .remark-callout__danger {
        --callout-color: var(--callout-failure);
    }
    .remark-callout__error {
        --callout-color: var(--callout-failure);
    }
    .remark-callout__bug {
        --callout-color: var(--callout-failure);
    }

    .remark-callout__example {
        --callout-color: var(--callout-example);
    }
    .remark-callout__quote {
        --callout-color: var(--callout-quote);
    }

    .prose > blockquote > * {
        &::before,
        &::after {
            content: none;
        }
        font-style: normal;
    }

    .prose :where(code):not(:where(pre code)) {
        &::after,
        &::before {
            content: "";
        }
        @apply bg-black/5 dark:bg-white/20 rounded-sm px-1 mx-0.5 py-0.5 text-[0.9em];
    }
}
